# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=sktcBdAJnXQgbM7BRNZNdOggdgDwZHkeeaWhJuPZp1gOSd6VfQIAS4IBKhiBX9cH7LmuB4PZwsHyNJOXRdo6kk15LFlgTnreEK0Djc9mvuC64X9nXF9LN7XHFFi97FFFfkxOAzOFGif4yIJKfkrAVklZlovkvncYyqdWAinxdYs4r5AJhRrj

# ImageKit Configuration (Optional, if using custom images)
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_key/

# Formbold Configuration
FORMBOLD_ENDPOINT=your_formbold_endpoint_url

# Vercel Analytics (Optional)
NEXT_PUBLIC_VERCEL_ANALYTICS_ID=your_vercel_analytics_id
