NEXT_PUBLIC_SANITY_PROJECT_ID=gvp68dtj
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=sktcBdAJnXQgbM7BRNZNdOggdgDwZHkeeaWhJuPZp1gOSd6VfQIAS4IBKhiBX9cH7LmuB4PZwsHyNJOXRdo6kk15LFlgTnreEK0Djc9mvuC64X9nXF9LN7XHFFi97FFFfkxOAzOFGif4yIJKfkrAVklZlovkvncYyqdWAinxdYs4r5AJhRrj
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/kimhabork/
FORMBOLD_ENDPOINT=https://formbold.com/s/35O8R
NEXT_PUBLIC_VERCEL_ANALYTICS_ID=your_vercel_analytics_id
SANITY_WEBHOOK_SECRET=c2xvd2x5c25ha2VkZWNpZGVzaGFrZWhlbHBmdWx3aW50ZXJtb25leWNvYWxzdW15b3U=
SANITY_AUTH_TOKEN="skaKyqmxf2cIp3wb1miBm4waGgRtJ6CmlWBzl3NJxb1C3fBHTznXLsISGctbFm4EfA0aQLtIzxnnm2T4I7lLr6fGGC8aDIHyutdyxCT0JjEE5wkPNiq1X3SPuiiyGnBKaBma5MCXFNxz5SBfsH6fRgpikUXa6M25vSEC3snvzOKHzznY4aQF"